<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771639932436-51scl54oif6fbhh6hfig6sk3pgs4oh56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771639932436-51scl54oif6fbhh6hfig6sk3pgs4oh56</string>
	<key>API_KEY</key>
	<string>AIzaSyBxgXeAyCVcbERH6TUhGOlHZj4wOAHgH4w</string>
	<key>GCM_SENDER_ID</key>
	<string>771639932436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vind.vind</string>
	<key>PROJECT_ID</key>
	<string>vind-dd133</string>
	<key>STORAGE_BUCKET</key>
	<string>vind-dd133.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771639932436:ios:240051fb6c5cf3c71a5901</string>
</dict>
</plist>